$spot-blue: #0082DD;
$dark-bg: #11181f;
$light-gray-2: #7f9293;
$msg-dark: #0f151b;
$light-gray-1: #f7f7f7;
$error-red: #ff0033;
* {
  box-sizing: border-box;
}
#root {
  height: 100%;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  .spotim-header {
    text-align: center;
    background-color: $spot-blue;
    height: auto;
    padding: 0px;
    color: white;
    overflow: hidden;
    position: relative;
    height: 100%;
    padding-top: 20px;
    .spotim-title {
      font-size: 1.5em;
    }
  }
  .logo-wrap {
    padding: 20px 0;
    img {
      margin-top: 0;
    }
  }
}
input[type="textarea"] {
  -webkit-appearance: none;
  width: 100%;
  background: #11181f;
  border: none;
  outline: none;
  color: #f0f0f0;
  font-size: 1.2rem;
  resize: none;
  padding: 15px;
  padding-right: 150px;
  letter-spacing: .5px;
  vertical-align: middle;
}
// Chatroom component styling
.chatroom {
  position: relative;
  height: calc(100% - 137px);
  background: $light-gray-1;
  .chat__wrap {
    overflow-y: auto; 
    position: absolute;
    height: calc(100% - 80px);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    
  }
  .chats {
    list-style: none;
    margin: 0;
    padding: 0;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px -4px 10px 0px rgba(0,0,0,0.3);
    }
  }
  .input {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
    border-top: 1px solid hsla(0,0%,100%,.05);
    &.error {
      border-top: 1px solid $error-red;
      .input__message-wrapper {
        .btn {
          border-left: 1px solid $error-red;
        }
        input {
          
        }
      }
      .input__un-wrapper {
        border-right: 1px solid $error-red;
      }
    }
    &__wrapper {
      display: flex;
      flex-wrap: wrap;

    }
    &__un-wrapper {
      flex: 1 0 20%;
      max-width: 20%;
      background: #11181f;
      border: none;
      outline: none;
      color: #f0f0f0;
      padding: 15px;
      font-size: 1.2rem;
      letter-spacing: .5px;
      border-right: 1px solid #f0f0f0;
      input {
        background: #11181f;
        border: none;
        outline: none;
        color: #f0f0f0;
        font-size: 1.2rem;
        resize: none;
        padding: 15px;
      }
    }
    &__message-wrapper {
      flex: 1 0 80%;
      max-width: 80%;
      width: 100%;
      background: #11181f;
      border: none;
      outline: none;
      color: #f0f0f0;
      font-size: 16px;
      resize: none;
      padding: 15px;
      padding-right: 15px;
      letter-spacing: .5px;
      vertical-align: middle;
      .btn {
        border-left: 1px solid #f0f0f0;
      }
    }
  }
}

// message component styling
.chat-message {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
  padding-left: 15px;
  border-top: 1px solid rgba(40,57,73,.25);
  margin-top: 0;
  position: relative;
  top: 1px;
  background: $light-gray-1;
  padding: 10px 0 10px 15px;
  &.currentUser {
    background: $light-gray-1;
    .h4, .message {
      color: $msg-dark;
    }
  }
  .message-avatar {
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    max-height: 20px;
    img {
      max-width: 20px;

    }
  }
  .h4 {
    color: $light-gray-2;
    font-size: 1rem;
    line-height: 24px;
    margin: inherit;
    padding-right: 40px;
  }
  .message {
    color: $light-gray-2;
    font-size: 1rem;
    line-height: 24px;
  }
}

// button styling 
.btn {
  &--primary {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100px;
    outline: none;
    border: none;
    background: #0d1318;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #7f9293;
    transition: color .5s,background .5s;
    transform: translateZ(0);
    transition: background .6s, color .6s ease-in-out;
    &:hover {
      // background: #7f9293;
      // color: #0d1318;
      transition: background .6s, color .6s ease-in-out;
    }
  }
}




